@media (max-width: 375px) {

    header{
        position: relative;
        height: 774px;
        width: 100vw;
        overflow: hidden;
    }

    .logo{
        position: absolute;
        width: 213px;
        height: 32px;
        top: 18px;
        left: 20px;
        z-index: 9;
    }

    .header-text{
        position: absolute;
        font-family: "Merriweather", serif;
        font-weight: 400;
        font-style: normal;
        width: 335px;
        height: 393px;
        top: 90px;
        left: 20px;
        color: #313131;
        z-index: 9;
    }

    .headline{
        width: 335px;
        height: 169px;
        font-size: 36px;
        line-height: 39.6px;
        text-transform: uppercase;
        text-align: left;
    }
    
    .headline-middle{
        text-align: center;
    }
    
    .headline-bottom{
        text-align: right;
    }
    
    .sub-headline{
        font-family: "Golos Text", sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 23.4px;
        text-align: left;
        margin-top: 24px;
    }

    .header-buttons{
        margin-top: 40px;
        display: flex;
        flex-direction: column;
    }
    
    .header-button-left, .header-button-right{
        width: 335px;
        height: 47px;
        border-radius: 66px;
        border: 0px;
        font-family: "Golos Text", sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 20.8px;
        text-align: center;
        cursor: pointer;
    }
    
    .header-button-left{
        color: #FFFFFF;
        background: #1F1F1F;
        transition: background-color 0.3s, color 0.3s;
    }
    
    .header-button-right{
        margin-top: 14px;
        color: #1F1F1F;
        background: #FFFFFF;
        opacity: 90%;
        transition: background-color 0.3s, color 0.3s;
    }

    .small-delete{
        display: inline;
        margin: 0;
        padding: 0;
    }

    #circle{
        position: absolute;
    }
    
    .yellow-circle{
        position: absolute;
        width: 297.47px;
        height: 297.47px;
        margin-left: 0px;
        z-index: 1;
        top: 439.84px;
        left: 30.04px;
    }
    
    .letters-in-circle{
        content: url('../img/header/lettersSmall.svg');
        position: absolute;
        mix-blend-mode: overlay;
        z-index: 2;
        top: 401px;
        left: 3px;
        margin-left: 0px;
    }

    .queen-piece{
        content: url('../img/header/queenSmall.svg');
        position: absolute;
        width: 74px;
        height: 114px;
        top: 512px;
        left: 220px;
        z-index: 3;
    }
    
    .king-piece{
        content: url('../img/header/kingSmall.svg');
        position: absolute;
        width: 61px;
        height: 122px;
        top: 555px;
        left: 62.81px;
        z-index: 3;
    }
    
    .city{
        content: url('../img/header/citySmall.svg');
        position: absolute;
        width: 375px;
        height: 248px;
        top: 550px;
        left: 0px;
        z-index: 7;
    }
    
    .city-border{
        content: url('../img/header/cityBorderSmall.svg');
        position: absolute;
        width: 375px;
        height: 254px;
        top: 545px;
        left: 0px;
        z-index: 7;
        overflow: hidden;
    }
    
    .background-header-color{
        position: absolute;
        mix-blend-mode: color-burn;
        transform: rotate(180deg); 
        z-index: 5;
        top: -1900px; 
        left: -840px;
    }
    
    .background-header{
        position: absolute;
        mix-blend-mode: color-burn;
        height: 774px;
        z-index: 8;
    }
    
    .pawn-piece{
        display: none;
    }
    
    .knight-piece{
        content: url('../img/header/knightSmall.svg');
        position: absolute;
        width: 98px;
        height: 135px;
        top: 674.85px;
        left: 146.05px;
        z-index: 9;
    }

    .subline {
        width: 100vw;
        position: relative;
        padding: 10px 0px 10px 0px;
        background-color: #F54932;
        white-space: nowrap;
        font-family: "Merriweather", serif;
        font-weight: 400;
        font-style: normal;
        overflow: hidden;
    }
      
    .text,
    .dot {
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
        font-size: 16px;
    }

    /* конец header, начало основной части*/

    #first-block{
        position: relative;
        display: flex;
        flex-direction: column;
        top: 80px;
        justify-content: center;
        align-items: center;
        margin-right: 20px;
        margin-left: 20px;
        display: none;
    }

    #first-block-smallscreen{
        position: relative;
        display: flex;
        flex-direction: column;
        top: 48px;
        justify-content: center;
        align-items: center;
        margin-right: 19px;
        margin-left: 19px;
    }
    
    .first-block-text{
        font-family: "Merriweather", serif;
        font-size: 28px;
        font-weight: 400;
        line-height: 37.8px;
        text-align: left;
        width: 335px;
        height: 152px;
        left: 1px;
        text-transform: uppercase;
    }

    .first-block-text2{
        margin-top: 25px;
        font-family: "Merriweather", serif;
        font-size: 28px;
        font-weight: 400;
        line-height: 37.8px;
        text-align: left;
        width: 335px;
        height: 152px;
        left: 1px;
        text-transform: uppercase;
    }
    
    .red-text{
        color: #F54932;
        font-weight: 700;
    }
    
    .chessplayers-img{
        margin-left: 1px;
        margin-top: 25px;
    }

    /* 2й блок (с таблтцей) */
    
    #tournament-info{
        position: relative;
        top: 68px;
        display: flex;
        flex-direction: column;
        margin-left: 1px;
        margin-right: 1px;
    }
    
    .left-side{
        width: 435px;
        height: 402px;
    }

    .right-side{
        display: block;
        margin-left: 19px;
        margin-right: 19px;
        width: 336px;
    }

    .second-block-text{
        font-family: "Merriweather", serif;
        font-size: 28px;
        font-weight: 400;
        line-height: 37.8px;
        text-align: left;
        width: 335px;
        height: 228px;
        text-transform: uppercase;
        margin-top: 15px;
        margin-left: 1px;
    }
    
    .second-block-table {
        border-collapse: collapse;
        width: 336px;
        height: auto;
        margin-top: 44px;
    }
    
    tr:not(:last-child){
        border-bottom: 2px solid #D0D0D0; /* разделение между строками */
    }

    tr:not(:last-child) td{
        border-bottom: none; /* разделение между строками */
    }
    
    tr td:not(:last-child) {
        border-right: none; /* разделение между столбцами */
    }
    
    tr{
        display: flex;
        flex-direction: column;
    }

    tr:nth-child(4) {
        flex-direction: row;
    }

    .left {
        text-align: left;
        font-family: "Golos Text", sans-serif;
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
        color: #313131;
        opacity: 70%;
        width: auto;
        margin-top: 16px;
    }
    
    .right {
        text-align: left;
        font-family: "Golos Text", sans-serif;
        font-size: 20px;
        font-weight: 600;
        line-height: 24px;
        color: #313131;
        padding: 0px;
        margin-top: 12px;
        margin-bottom: 16px;
    }

    tr:nth-child(4) .left {
        margin-bottom: 16px;
        margin-top: 16px;
    }

    tr:nth-child(4) .right {
        margin-top: 16px;
        margin-bottom: 16px;
        margin-left: 12px;
    }
    
    .top{
        vertical-align: top;
        height: auto;
    }
    
    .bottom-table{
        vertical-align: bottom;
        height: 96px;
    }
    
    .second-block-bottom-text{
        margin-top: 20px;
        font-family: "Golos Text", sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 21.6px;
        text-align: left;
        color: #3057A2;
    }

    /* 3й блок (этапы) */

    .grid-carousel{
        position: relative;
        display: block;
        margin-top: 164px;
        margin-right: 19px;
        margin-left: 19px;
    }

    .grid-section{
        display: none;
    }
    
    .container-small{
        width: 335px;
        margin: 0 auto;
    }
    
    .block-small{
        position: relative;
        width: 225px;
        height: auto;
    }
    
    .grid-section-topic-small{
        font-family: "Merriweather", serif;
        font-size: 36px;
        font-weight: 400;
        line-height: 39.6px;
        text-align: left;
        text-transform: uppercase;
    }
    
    .small-text-topic-small{
        position: static;
        width: 335px;
        height: 44px;
        font-family: "Golos Text", sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 21.6px;
        text-align: left;
        color: #3057A2;
        margin-top: 12px;
    }
    
    .grid-section-topic-small, .small-text-topic-small {
        display: inline-block;
    }
    
    .small-carousel{
        position: relative;
        display: block;
        margin-top: 148px;
        margin-right: 1px;
        margin-left: 1px;
    }

    .plane-small{
        position: absolute;
        z-index: 2;
        top: 28%;
    }

    .small-carousel-background{
        position: relative;
        z-index: 1;
    }

    .carousel-inside{
        position: absolute;
        z-index: 2;
        top: 28px;
        left: 20px;
    }

    .in-row{
        position: relative;
        display: flex;
        flex-direction: row;
        margin-top: 28px;
    }

    .carousel-number{
        width: 36px;
        height: 36px;
        border-radius: 50%;
        background-color: #FFFFFF;
        display: flex;
        align-items: center; /* Выравнивание содержимого по вертикали */
        justify-content: center; /* Выравнивание содержимого по горизонтали */
        font-size: 20px;
        font-family: "Golos Text", sans-serif;
        font-weight: 600;
        line-height: 24px;
        text-align: left;
    }

    .carousel-text, .carousel-text-four, .carousel-text-five{
        font-family: "Golos Text", sans-serif;
        font-size: 18px;
        font-weight: 500;
        line-height: 21.6px;
        text-align: left;
        padding-left: 16px;
    }

    .in-row:nth-child(1) .carousel-text {
        width: 239px;
        height: 88px;
    }
    
    .in-row:nth-child(2) .carousel-text {
        width: 239px;
        height: 88px;
    }

    .carousel-text-four{
        width: 243px;
        height: 44px;
    }

    .carousel-text-five{
        width: 243px;
        height: 66px;
    }

    .small-carousel-buttons-container{
        display: flex;
        justify-content: center;
    }

    .small-carousel-buttons{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 178px;
        height: 36px;
        padding-top: 28px;
    }

    .left-button, .right-button{
        cursor: pointer;
    }

    .left-button{
        margin-right: 16px;
    }

    .right-button{
        margin-left: 16px;
    }

    .disabled {
        pointer-events: none;
        opacity: 0.5;
    }
    

    /* Карусель участников (4й блок) */

    .participants-block{
        margin-top: 120px;
        position: relative;
        margin-right: 19px;
        margin-left: 19px;
    }
    
    .container-participants{
        width: 335px;
        margin: 0 auto;
    }
    
    .participants-top{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .participants-text{
        width: 335px;
        height: 80px;
        font-family: "Merriweather", serif;
        font-size: 36px;
        font-weight: 400;
        line-height: 39.6px;
        text-align: left;
        text-transform: uppercase;
    }
    
    .participants-top-right{
        position: absolute;
        display: flex;
        flex-direction: row;
        width:151px;
        height: 44px;
        align-items: center;
        justify-content: center;
        top: 562px;
        left: 84px;
    }
    
    .current-page{
        font-family: "Golos Text", sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 19.2px;
        color: #313131;
    }
    
    .opacity-text{
        opacity: 60%;
    }

    .participants-top-right svg{
        width: 36px;
        height: 36px;
    }
    
    .prev-button, .next-button{
        width: 36px;
        height: 36px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        border-radius: 50%;
        transition: fill 0.3s, color 0.3s;
    }
    
    .prev-button{
        margin-right: 19px;
    }
    
    .next-button{
        margin-left: 8px;
    }
    
    svg:disabled circle {
        fill: #D6D6D6;
    }
    
    .carousel {
        margin-top: 60px;
        margin-left: 19px;
        margin-right: 19px;
        position: relative;
        width: 335px;
        height: 388px;
        overflow: hidden;
      }
    
    .carousel-inner {
        display: flex;
        transition: transform 0.5s ease;
        width: fit-content;
      }
      
    .participant {
        margin-right: 0px;
        flex: 0 0 335px;
        height: 388px;
      }
    
      .participant:last-child {
        margin-right: 0;
      }
    
      .participant-card{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    
      .participant-img{
        width: 244px;
        height: 244px;
      }
    
      .name{
        width: 286px;
        height: 29px;
        font-family: "Golos Text", sans-serif;
        font-size: 24px;
        font-weight: 600;
        line-height: 28.8px;
        text-align: center;
        margin-top: 28px;
        color: #313131;
      }
      
      .status{
        width: 277px;
        height: 24px;
        font-family: "Golos Text", sans-serif;
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
        text-align: center;
        opacity: 60%;
        margin-top: 6px;
        color: #313131;
      }
      
      .more-details-button{
        width: 113px;
        height: 35px;
        border-radius: 64px;
        border: 1px solid #3057A2;
        margin-top: 20px;
        font-family: "Golos Text", sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 19.2px;
        text-align: center; 
        color: #3057A2;
        background: transparent;
        transition: background-color 0.3s, color 0.3s;
        cursor: pointer;
      }
    
      .more-details-button:hover{
        color: #FFFFFF;
        background: #3057A2;
    }
    
    .right-button-participant:hover, .left-button-participant:hover{
        fill: initial;
    }

    /* Конец страницы */

    .bottom-elements{
        margin-top: 175px;
    }
    
    .bottom{
        width: 100vw;
        height: 214px;
        padding: 40px 20px 0px 20px;
        background-color: #E9DED4;
    }
    
    .bottom-text{
        width: 335px;
        height: 114px;
        top: 40px;
        left: 0px;
        font-family: "Golos Text", sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 19.2px;
        text-align: left;
        opacity: 60%;
        color: #313131;

    }
    
}